.Card {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    width: 70%;
    margin-top: 90px;
    left: 15%;
    right: 15%;
    position: relative;
    padding: 10px;
    border-radius: 10%;
    background-color: white;
}

.Card img{
    max-width: 500px;
}

@media only screen and (max-width: 745px){
    .Card img {     
        max-width: 400px;
    }
}
@media only screen and (max-width: 600px){
    .Card img {
        display: none
    }
}