.Footer {
    height:50px;
    width:100%;
    background:rgb(67, 80, 153);
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 0;
    text-align: center;
 }
 
 .Footer p{
    margin: auto;
}